{% extends "base/main.html" %}
{% load static %}
{% block content %}
<main>
    <section id="form-container">
        <img id="logo" src="{% static 'images/chat-icon.png' %}" alt="">
        <div>
            <h1>Focus Hive - Study Time Mate</h1>
            <p>A group video calling platform for your study time!</p>
        </div>
        <h2>Welcome to the lobby</h2>
        <p>Not able to focus!! Let's do it together.</p>
        <form id="form">
            <div class="form-field">
                <input type="submit" value="Join Stream">
            </div>
        </form>
</section>
</main>

<script type="text/javascript">
    let form = document.getElementById('form')

    let handleSubmit = async (e) =>{
        e.preventDefault()
        window.open('/room/', '_self')
    }

    form.addEventListener('submit', handleSubmit)
</script>

{% endblock %}
